<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="LOG_PATH" value="./logs" />

	<appender name="CUSTOM_CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>CUSTOM %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)]
				%yellow(%C{1.}): %msg%n%throwable</pattern>
		</encoder>
	</appender>
	
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)]
				%yellow(%C{1.}): %msg%n%throwable</pattern>
		</encoder>
	</appender>

	<appender name="SAVE_TO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/spring-boot-logger.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%msg%n</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOG_PATH}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<cleanHistoryOnStart>false</cleanHistoryOnStart>
			<maxHistory>10</maxHistory>
			<totalSizeCap>30KB</totalSizeCap>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- Logback levels -->

	<!-- OFF (output no logs) -->
	<!-- ERROR -->
	<!-- WARN -->
	<!-- INFO -->
	<!-- DEBUG -->
	<!-- TRACE -->

	<!-- LOG everything at INFO level -->
	<root level="INFO">
		<appender-ref ref="SAVE_TO_FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

	<logger name="customLogger" level="TRACE">
		<appender-ref ref="SAVE_TO_FILE" />
		<appender-ref ref="CUSTOM_CONSOLE" />
	</logger>

</configuration>